marquee{
    padding-bottom: 0px;
}
body{
    background-image:url(food_bg.png);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: repeat;
}
.column {
    float: left;
    width: 50%;
}
#title{
    margin-top: 0px;
    text-align: center;
    background-color: #34CA2C;
}
#trial{
    margin-top: 0px;
    padding-top: 100px;
    text-align: center;
}
button{
    margin-left: 40%;
    font-size: 20px;          
}
button:hover{
    background-color: rgb(12, 145, 212);
}
h2,h3{            
    margin-left: 10px;
    margin-right: 10px;
}
form{                
    justify-content: center;
    display:flex;
}
#search{
    padding-top: 50px;
    text-align: center;
}