<html>
    <head>
        <title>Nutribot</title>   
        <marquee><h1>This project is still a work in progress!!!</h1></marquee>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 id="title">WELCOME TO NUTRIBOT</h1>
        <h2 id="search">Type in Your Search Below</h2>
        <form action="" method="POST">
            <input type="text" name="prompt" size=""/>
            <a href='/'><button>Search</button></a>
        </form>
        <p>
            {{generatedResponse}}
        </p>
    </body>
</html>