<!DOCTYPE html>
<html>
    <head>
        <title>Nutribot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <div class="heading">
            <a href="/"><img src="../static/Nutri-bot logo.png" alt="Nutribot logo"></a>
            <div class="prompter">Prompter</div>
            <div class="summariser">Summariser</div>
        </div>
        <hr>
    </head>
    <body>
        <div class="column" id="promptcolumn">
            <div class="body">
                <div class="content">
                    <h1 id="title" style="text-align: center; padding-top: 25px;">WELCOME TO NUTRIBOT</h1>
                    <h2 id="search">Type in Your Search Below</h2>
                    <form action="" method="POST">
                        <input type="text" name="prompt" />
                        <a href='/'><button>Search</button></a>
                    </form>
                    <p>
                        {{generatedResponse}}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>