<!DOCTYPE html>
<html>
    <head>
        <title>Nutribot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <div class="heading">
            <a href="/"><img src="../static/Nutri-bot logo.png" alt="Nutribot logo"></a>
            <div class="prompter"><a href=/prompter  id="prompter">Prompter</a></div>
            <div class="summariser" style="color: rgb(73, 197, 73);">Summariser</div>
        </div>
        <hr>
    </head>
    <body>        
        <div class="column" id="promptcolumn">
            <div class="body">
                <div class="content">
                    <h1 id="title" style="text-align: center; padding-top: 25px;">WELCOME TO NUTRIBOT</h1>
                    <h2 id="choose">Choose File To Upload</h2>
                    <div class="form">
                        <form action="" method="POST">
                            <input name="unsummarized_file" type="file" id="file">
                            <input type="submit" id="filebutton">
                        </form>
                    </div>
                    <p>
                        {{reply}}
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>