<html>
    <head>
        <title>Nutribot</title>   
        <marquee><h1>This project is still a work in progress!!!</h1></marquee>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 id="title">WELCOME TO NUTRIBOT</h1>
        <div id="filething">
            <h2 id="choose">Choose File To Upload</h2>
            <form action="" method="POST">
                <input name="unsummarized_file" type="file" id="file">
                <input type="submit">
            </form>
        </div>
    </body>
</html>