<!DOCTYPE html>
<html>
    <head>
        <title>Nutribot</title>
        <a href="/"><img src="../static/Nutri-bot logo.png" alt="Nutribot logo"></a>
        <h1><a id="link" href="/prompter" target="_self">Prompter</a></h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1 id="title">WELCOME TO NUTRIBOT</h1>
        <div id="filething">
            <h2 id="choose">Choose File To Upload</h2>
            <form action="" method="POST">
                <input name="unsummarized_file" type="file" id="file">
                <input type="submit">
            </form>
            <p>
                {{reply}}
            </p>
        </div>
    </body>
</html>